#search-item--container {
    display: grid;
    grid-gap: 30px;

    max-height: 650px;

    margin-top: 30px;

    overflow: auto;
}

#search-item--container > div {
    display: grid;
    grid-gap: 10px;
}