/* Sidebar area Section --Begin */
#side-container {
    grid-area: sidebar;

    background-color: var(--nl-clr-2);

    transition: width 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Sidebar area Section --End */

/* Sidebar nav listing Section --Begin */
#side-content-container {
    display: flex;
    flex-direction: column;
    gap: 50px;

    height: 100%;
    width: 100%;
}

.side-content-nav ul {
    display: flex;
    flex-direction: column;

    padding-left: 24.5px;

    user-select: none;
}

/* Sidebar nav listing Section --End */

/* Sidebar single item  Section --Begin */
.nav-item {
    position: relative;
}

.side-image--text-wrapper a {
    display: flex;
    align-items: center;
    gap: 1rem;

    width: 211px;

    padding: 13px;
    border-radius: var(--br-r-medium);

    cursor: pointer;
}

.side-image--text-wrapper a:hover, .side-image--text-wrapper a:hover > span {
    text-decoration: unset;

    color: hsl(0, 0%, 100%);
    background-color: var(--nv-item--h--bg-clr);
}

.side-active-nav-item > a {
    background-color: var(--ac-clr-1);
}

.side-active-nav-item, .side-active-nav-item > a > span {
    color: hsl(0, 0%, 100%) !important;
}

.side-active-nav-item::after {
    content: '';

    display: inline-block;
    position: absolute;

    top: 10%;
    right: 0;

    height: 40px;
    width: 8px;

    border-radius: var(--br-r-extra-small) 0 0 var(--br-r-extra-small);

    background-color: var(--ac-clr-1);

    opacity: 0;

    animation: active-nav-item 600ms ease-out forwards;
}

/* Sidebar single item  Section --End */

#side-image-container {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-top: 20px;
    padding-left: 24.5px;
}

#spotify-sidebar-logo {
    width: 50px;
}

@keyframes active-nav-item {
    to {
        opacity: 1;
    }
}