#player-container {
    display: grid;
    grid-template: 'left middle right'
                   'down down down';
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;

    height: 120px;
    width: 100%;

    padding: var(--pd-t-medium) var(--pd-t-big);

    background-color: var(--nl-clr-2);
    border-radius: var(--br-r-medium);
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#player-container--play {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 40px;

    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 0%);
    border-radius: 100%;

    cursor: pointer;
    transition: scale 200ms ease-out;
}

#player-container--play:hover {
    scale: 1.1;
}

#player-container--favourite {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 35px;
    width: 35px;

    background-color: var(--nl-clr-1);
    border-radius: var(--br-r-small-medium);

    cursor: pointer;

}

#player-container--favourite > svg {
    transition: scale 200ms ease-out;
}

#player-container--favourite:hover > svg {
    scale: 1.1;
}