#player {
    display: flex;
    flex-direction: column;

    padding: var(--pd-t-big);

    background-color: var(--nl-clr-2);
    border-radius: var(--br-r-medium);
}

#player > div:last-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#player--image-wrapper {
    border-radius: var(--br-r-medium);

    overflow: hidden;
}

#player--image-wrapper img {
    width: 100%;

    border-radius: var(--br-r-medium);

    object-fit: cover;
    aspect-ratio: 4/3.5;
}

#player--text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;

    margin-top: 10px;

    cursor: default;
}

#player--text-wrapper > div {
    max-width: 150px;
}

#player--text-wrapper h1 {
    display: inline;
}

#player-card-container--follow {
    display: flex;
    justify-content: center;
    align-items: center;

    height: fit-content;
    width: fit-content;

    padding: 5px;

    color: rgb(0, 0, 0);
    background-color: transparent;

    border: 1px solid rgb(0, 0, 0);
    border-radius: var(--br-r-small-medium);

    cursor: pointer;
}

#player-card-container--follow > svg {
    transition: scale 200ms ease-out;
}

#player-card-container--follow:hover > svg {
    scale: 1.1;
}